body {
    font-family: sans-serif;
    background-color: #f0f8ff; /* Um tom de azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #e6f7ff; /* Um tom mais claro de azul */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Aumentar o padding interno */
    box-sizing: border-box;
    width: 400px; /* Manter a largura */
}

.header {
    margin-bottom: 30px; /* Aumentar a margem inferior */
}

.back-button {
    display: flex;
    align-items: center;
    color: #007bff;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 20px; /* Aumentar a margem inferior */
}

.back-button:hover {
    text-decoration: underline;
}

.back-button svg {
    margin-right: 8px; /* Espaço entre a seta e o texto */
    width: 20px;
    height: 20px;
    fill: #007bff;
}

.cadastro-box h1 {
    text-align: center;
    margin-bottom: 35px; /* Aumentar a margem inferior */
    color: #333;
    font-size: 2.5em; /* Aumentar o tamanho da fonte do título */
    font-weight: bold;
}

.cadastro-box input[type="text"],
.cadastro-box input[type="email"],
.cadastro-box input[type="password"],
.cadastro-box select,
.cadastro-box input[type="url"] {
    width: calc(100% - 20px);
    padding: 12px; /* Aumentar o padding dos inputs */
    margin-bottom: 20px; /* Aumentar a margem inferior dos inputs */
    border: 1px solid #ddd;
    border-radius: 6px; /* Bordas mais arredondadas */
    box-sizing: border-box;
    font-size: 1em;
}

.cadastro-box label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; /* Aumentar a margem superior dos botões */
}

.buttons button {
    padding: 12px 25px; /* Aumentar o padding dos botões */
    border: none;
    border-radius: 6px; /* Bordas mais arredondadas */
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.buttons .voltar {
    background-color: #f0f0f0;
    color: #333;
}

.buttons .voltar:hover {
    background-color: #e0e0e0;
}

.buttons .cadastrar {
    background-color: #007bff;
    color: white;
}

.buttons .cadastrar:hover {
    background-color: #0056b3;
}